{%- liquid
  assign pct = settings.pix_discount_percent | default: 0 | plus: 0
  if pct > 100
    assign pct = 100
  endif

  assign render_ok = false
  assign pix_cents = 0

  if pct > 0 and price_cents != blank and price_cents > 0
    if variant == blank or variant.available
      assign factor = 100 | minus: pct
      assign raw_pix = price_cents | times: factor
      assign pix_cents = raw_pix | plus: 50 | divided_by: 100
      if pix_cents > 0 and pix_cents < price_cents
        assign render_ok = true
      endif
    endif
  endif
-%}

{%- if render_ok -%}
  {%- liquid
    if template.name == 'product'
      assign use_cc = settings.currency_code_enabled_product_pages
    else
      assign use_cc = settings.currency_code_enabled_product_cards
    endif

    if use_cc
      assign pix_money = pix_cents | money_with_currency
    else
      assign pix_money = pix_cents | money
    endif
  -%}

  <div
    ref="pixPriceDisplay"
    class="pix-price-display"
    data-pix-discount-percent="{{ pct }}"
  >
    <p class="pix-price-display__text">
      {{- 'content.pix_price_line' | t: amount: pix_money, percent: pct -}}
    </p>
  </div>
{%- endif -%}

{% stylesheet %}
  .pix-price-display {
    margin: 0;
    padding-block-start: 0.35em;
    font-size: min(0.85em, var(--font-paragraph--size, 1rem));
    font-weight: var(--font-paragraph--weight, 400);
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
    line-height: 1.35;
  }

  .pix-price-display__text {
    margin: 0;
  }
{% endstylesheet %}
